@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
  margin: 0;
  padding: 0;
}
.button_link{
  text-decoration: none !important;
  color: black !important;
}
.fake{
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}